<form [formGroup]="form" class="form">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Enter name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" placeholder="Enter description"></textarea>
    </mat-form-field>
    <div class="form-actions">
        <button mat-raised-button color="primary" (click)="create()" [disabled]="!form.valid">
            Create Group
        </button>
    </div>
</form>
